header{
	border: 0 none !important;

	.navbar-toggle {
		border-color: transparent !important;
		padding: 0px;
		margin-top: 7px;
		margin-bottom: 7px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 0;
		&:hover, &:focus, &:active{
			background-color: transparent !important; 
		}
	}

	&.super__nav{
		text-transform: uppercase;
		min-height: 30px;
		height: 30px;
		margin-bottom: 0;
		background: $color--green url(../images/super__nav--bg.jpg) no-repeat top center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		.navbar-header{
			.super__nav__btn{}
			.header__logo{
				background: $color--orange url(../images/all__logo--bg.png) no-repeat top center; 
				position: relative;
				width: 100px; 
				height: 30px;
				overflow: hidden;
				.logo{
					margin: 0;
					padding: 0;
					a.navbar-brand{
						width: 100px;
						height: 30px;
						display: inline-block;
						line-height: 1;
						margin: 0;
						background-image: url(../images/logo--xs.png);
						background-repeat: no-repeat;
						span{
							position: relative;
							display: block;
							text-indent: 100%;
							white-space: nowrap;
							overflow: hidden;
							margin: 0;
							padding: 0;
						}
					}
				}
			}
		}
		.navbar-collapse{
			background-color: $color--green;
			border-color: transparent;
			border: 0 none;
			.menu-menu-super-container{
				ul#menu-menu-super{
					li{
						a{
							padding-top: 5px;
  							padding-bottom: 5px;
  							color: $color--white;
  							font-family: 'exo_2regular', sans-serif;
  							font-size: 10.5px;
						}
						&.active, &.open{
							a{
								color: $color--orange;
								background-color: transparent;
							}
							ul{
								li{
									a{
										color: $color--white; 
									}
								}
							}
						}
					}
				}
			}
				.navbar-form{
					margin: 4px 15px;
					border-color: transparent;
					margin: 0;
					float: left;
					border: 0;
					padding: 0;
					margin-bottom: 20px;
					.search-form{
						float: left;
						margin-right: 15px;
						width: 80%;
						label{}
						.input-group{
							input.search-field{
								height: 20px;
								border-radius: 0;
								padding: 6px;
								font-family: 'exo_2regular', sans-serif;
								font-size: 10.5px;
								text-transform: uppercase;
								border: 1px solid transparent;
							}
							.input-group-btn{
								.search-submit{
									padding: 2px 7px;
									border-radius: 0;
									line-height: 1;
									background-color: $color--orange;
									border-color: transparent;
									i{
										font-size: 13px;
										color: $color--white;
									}
								}
							}
						}
					}
					.social__nav{
						float: left;
						margin-bottom: 0;
						li{
							padding-left: 1px;
							padding-right: 1px;
							a{
								padding: 2px 7px; 
								color: $color--white;
								i{
									font-size: 10px;
								}
							}
							&#fb{
								a{
									background-color: $color--fb;
								}
							}
							&#tw{
								a{
									background-color: $color--tw;
								}
							}
						}
					}
				}
		}

	.navbar-toggle {
		.icon-bar{
			background-color: $color--white !important;
		}
	}

	}

	&.main__nav{
		position: relative;
		z-index: 1;
		min-height: 30px;
		height: 30px;
		text-transform: uppercase;
		background-color: $color--green--light;
		.navbar-header{

		}
		.navbar-collapse{
			background-color: $color--green--light;
			border-color: transparent;
			border: 0 none;
			.menu-menu-principal-container{
				ul#menu-menu-principal{
					li{
						a{
							font-family: 'exo_2bold', sans-serif;
							font-size: 12px;
							color: $color--green;
							padding-top: 5px;
  							padding-bottom: 5px;
						}
						&.active{
							a{
								color: $color--orange;
								background-color: $color--white;
							}
						}
					}
				}
			}
		}

		.navbar-toggle {
			.icon-bar{
				background-color: $color--green !important;
			}
		}

	}

}

/* Main Slider */
.slider{
	#slider__main{
		.owl-stage-outer{
			.owl-stage{
				.owl-item{
					opacity: .25;
					&.active{
						&.center{
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

@media(max-width: $screen-xs-max){}
@media(min-width: $screen-sm-min){
header{
	&.super__nav{
		.navbar-header{
			.super__nav__btn{}
			.header__logo{
				position: absolute;
				width: 180px !important;
				height: 70px !important;
				.logo{
					a.navbar-brand{
						width: 180px !important;
						height: 70px !important;
						background-image: url(../images/logo--sm.png) !important;
					}
				}
			}
		}
		.navbar-collapse{
			background-color: transparent;
			.menu-menu-super-container{
				ul#menu-menu-super{
					padding-left: 180px;
					li{
						a{
							padding-top: 5px;
  							padding-bottom: 5px;
  							color: $color--white;
  							font-family: 'exo_2regular', sans-serif;
  							font-size: 10.5px;
						}
						&.active, &.open{
							a{

							}
							ul{
								li{
									a{
										color: $color--gray; 
									}
								}
							}
						}
					}
				}
			}
				.navbar-form{
					margin: 4px 15px;
					.search-form{
						float: left;
						margin-right: 15px;
						width: auto;
						label{}
						.input-group{
							input.search-field{
								height: 20px;
								border-radius: 0;
								padding: 6px;
								font-family: 'exo_2regular', sans-serif;
								font-size: 10.5px;
								text-transform: uppercase;
							}
							.input-group-btn{
								.search-submit{
									padding: 2px 7px;
									border-radius: 0;
									line-height: 1;
									i{
										font-size: 13px;
									}
								}
							}
						}
					}
					.social__nav{
						float: left;
						margin-bottom: 0;
						li{
							padding-left: 1px;
							padding-right: 1px;
							a{
								padding: 2px 7px; 
								color: $color--white;
								i{
									font-size: 10px;
								}
							}
							&#fb{
								a{
									background-color: $color--fb;
								}
							}
							&#tw{
								a{
									background-color: $color--tw;
								}
							}
						}
					}
				}
		}
	}

	&.main__nav{
		margin-bottom: 0;
		position: relative;
		z-index: 1;
		min-height: 30px;
		height: 30px;
		text-transform: uppercase;
		background-color: $color--green--light;
		.navbar-header{

		}
		.navbar-collapse{
			.menu-menu-principal-container{
				ul#menu-menu-principal{
					padding-left: 180px;
					li{
						a{}
					}
				}
			}
		}
	}
}
}  /* deprecated: $screen-tablet, or $screen-sm */
@media(min-width: $screen-md-min){
	
}  /* deprecated: $screen-desktop, or $screen-md */
@media(min-width: $screen-lg-min){}  /* deprecated: $screen-lg-desktop, or $screen-lg */