// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$color--orange:			#c85c19;
$brand-primary:         $color--orange;

$color--fb:				#3B5998;
$color--tw:				#00B0ED;
$color--white:			#FFFFFF;
$color--green:			#00703c;
$color--green--light:   #e4f5d5;
$color--gray:    		#444;